body{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(254, 167, 182));
}
.container{
    background-image: linear-gradient(to bottom right, white,pink);
    border: 1px pink solid;
    width: 450px;
    margin-left: 38%;
    margin-top: 200px;
    height: 450px;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
#text{
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-style: bold;
    font-size: 45px;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-left: 75px;
    position: fixed;
}
img{
    height: 270px;
    position:fixed;
    z-index: 10;
    margin-top: 100px;
    border: 0.5px pink solid;
    border-radius: 10px;
    margin-left: 95px;
}
button{
    position: fixed;
    margin-top: 380px;
    margin-left: 150px ;
    width: 150px;
    height: 40px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 20px;
    background-color: rgb(254, 156, 186);
    border: 1px solid black;
    border-radius: 10px;
    transition: all ease 0.5s;
}
button:hover{
    background-color: rgb(255, 182, 227);
    box-shadow: 0 0 50px white, 0 0 100px white , 0 0 150px white, 0 0 200px white;
}